image:
  repository: ollama/ollama
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 11434

resources:
  requests:
    cpu: "4"
    memory: 20Gi

persistence:
  enabled: true
  size: 20Gi

model:
  name: "gpt-oss:20b"