# Default values for qabot.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Global configuration
global:
  # -- (bool) Whether the deployment is for development purposes.
  dev: true
  # -- (string) Environment name. This should be the same as vpcname if you're doing an AWS deployment. Currently this is being used to share ALB's if you have multiple namespaces. Might be used other places too.
  environment: default
  # -- (int) The minimum amount of pods that are available at all times if the PDB is deployed.
  minAvailable: 1

# -- (bool) Whether Metrics are enabled.
metricsEnabled:

# Deployment
# -- (int) Number of replicas for the deployment.
replicaCount: 1

# -- (map) Docker image information.
image:
  # -- (string) Docker repository.
  repository: quay.io/cdis/qa-bot
  # -- (string) Docker pull policy.
  pullPolicy: Always
  # -- (string) Overrides the image tag whose default is the chart appVersion.
  tag: "master"

# Service and Pod
# -- (map) Kubernetes service information.
service:
  # -- (string) Type of service. Valid values are "ClusterIP", "NodePort", "LoadBalancer", "ExternalName".
  type: ClusterIP
  # -- (int) The port number that the service exposes.
  port: 80
  targetPort: 8080

# -- (list) Environment variables to pass to the container
env:
  - name: SLACK_BOT_TOKEN
    valueFrom:
      secretKeyRef:
        name: qabot-g3auto
        key: "slack_bot_token"
  - name: SLACK_APP_TOKEN
    valueFrom:
      secretKeyRef:
        name: qabot-g3auto
        key: "slack_app_token"
  - name: GITHUB_TOKEN
    valueFrom:
      secretKeyRef:
        name: qabot-g3auto
        key: "githubtoken"
  - name: JIRA_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: qabot-g3auto
        key: "jira_api_token"

# -- (list) Volumes to mount to the container.
volumeMounts:
  - name: qabot-g3auto
    mountPath: "/secret/githubtoken"
  - name: kube-api-access
    mountPath: /var/run/secrets/kubernetes.io/serviceaccount
    readOnly: true

# -- (list) Volumes to attach to the container.
volumes:
  - name: qabot-g3auto
    secret:
      secretName: qabot-g3auto #pragma: allowlist secret
  - name: kube-api-access
    projected:
      sources:
        - serviceAccountToken:
            path: token
            expirationSeconds: 3607
        - configMap:
            name: kube-root-ca.crt
            items:
              - key: ca.crt
                path: ca.crt
        - downwardAPI:
            items:
              - path: namespace
                fieldRef:
                  fieldPath: metadata.namespace

# -- (map) Resource requests and limits for the containers in the pod
resources:
  requests:
    cpu: 1
  limits:
    cpu: 2
    memory: 512Mi

secretStoreServiceAccount:
  # -- (bool) Set true if deploying to AWS and want to use service account and IAM role.
  enabled: true
  # -- (string) Name of the service account to create
  name: secret-store-sa
  # -- (string) AWS Role ARN for Secret Store to use
  roleArn: arn:aws:iam::707767160287:role/devplanetv2-external-secrets-sa
externalSecrets:
  secretName: devplanetv2-qabot-g3auto #pragma: allowlist secret

# Service account for accessing S3 bucket for allure reports
serviceAccount:
  create: true
  name: s3-allure-report-access
  iamRoleArn: arn:aws:iam::707767160287:role/devplanetv2-qabot

  