apiVersion: apps/v1
kind: Deployment
metadata:
  name: ollama
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ollama
  template:
    metadata:
      labels:
        app: ollama
    spec:
      initContainers:
        - name: pull-model
          image: ollama/ollama:latest
          imagePullPolicy: IfNotPresent
          command: ["sh", "-c"]
          args:
            - ollama pull {{ required "ollama.model.name is required" .Values.ollama.model.name }}
          volumeMounts:
            - name: ollama-models
              mountPath: /root/.ollama
      containers:
        - name: ollama
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 11434
          volumeMounts:
            - name: ollama-models
              mountPath: /root/.ollama
          command: ["/bin/ollama", serve"]
      volumes:
        - name: ollama-models
          persistentVolumeClaim:
            claimName: ollama-pvc
